.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #003366;
  color: white;
}
.navbar .logo { font-size: 22px; font-weight: bold; color: white; text-decoration: none; }
.nav-right button {
  background: #ffcc00; color: #003366; border: none; padding: 8px 15px;
  border-radius: 5px; cursor: pointer; font-weight: bold;
}
.home-container {
  text-align: center;
  margin-top: 52px;
}
.welcome-img {
  width: 70%;

  border-radius: 10px;
}
.welcome-text {
  font-size: 30px;
  margin-top: 20px;
  color: #003366;
  font-weight: bold;
}
